[Unit]
Description=AWS Workload Credentials Provider - Secrets Manager
After=aws-workload-credentials-provider-token.service
Requires=aws-workload-credentials-provider-token.service
After=network-online.target
Wants=network-online.target

[Service]
User=aws-wcp
WorkingDirectory=/opt/aws/workload-credentials-provider
Environment="AWS_TOKEN=file:///var/run/awssmatoken"
Type=simple
Restart=on-failure
TimeoutSec=1min
ExecStart=/opt/aws/workload-credentials-provider/bin/aws-workload-credentials-provider sm start

[Install]
WantedBy=multi-user.target
