[Unit]
Description=Initialize the SSRF token for AWS Workload Credentials Provider
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
TimeoutSec=1min
ExecStart=/opt/aws/workload-credentials-provider/bin/aws-workload-credentials-provider-token start
ExecStop=/opt/aws/workload-credentials-provider/bin/aws-workload-credentials-provider-token stop

[Install]
WantedBy=multi-user.target
