
[Unit]
Description=Run the AWS Secrets Manager Agent
After=awssmaseedtoken.service
Requires=awssmaseedtoken.service
After=network-online.target
Wants=network-online.target

[Service]
User=awssmauser
WorkingDirectory=/opt/aws/secretsmanageragent
Environment="AWS_TOKEN=file:///var/run/awssmatoken"
Type=exec
Restart=always
TimeoutSec=1min
ExecStart=/opt/aws/secretsmanageragent/bin/aws_secretsmanager_agent

[Install]
WantedBy=multi-user.target
