[Unit]
Description=Initialize the SSRF token for AWS Secrets Manager Agent
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=no
TimeoutSec=1min
ExecStart=/opt/aws/secretsmanageragent/bin/awssmaseedtoken start
ExecStop=/opt/aws/secretsmanageragent/bin/awssmaseedtoken stop

[Install]
WantedBy=multi-user.target
