name: "Docker Image CI"

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    strategy:
      matrix:
        include:
        - os: linux
          arch: amd64
          runner: ubuntu-latest
        - os: linux
          arch: arm64
          runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Build the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: ${{ matrix.os }}/${{ matrix.arch }}
          load: true
          tags: test-build:latest-${{ matrix.arch }}
      
      - name: List images
        run: |
          docker image ls -a
